.root {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  margin-top: 5px;
}

.pageButton {
  width: 45%;
  text-align: center;
}

.button {
  justify-content: center;
  font-size: 10px;
  font-weight: 600;
  height: 30px;
  width: 30px;
  margin: 25px 5px 25px 5px;
  padding: 0;
  border: 0px;
  border-radius: 100%;
  cursor: pointer;
  background-color: white;
  transition: 0.5s;
}

.button:hover {
  background-color: #d90000;
  color: white;
}

.switchPage {
  display: flex;
  justify-content: center;
  width: 15%;
  margin-right: 13vw;
  font-size: 12px;
  cursor: pointer;
}

.previous {
  margin-right: 1vw;
  border-bottom: 1px solid black;
}

.span {
  align-self: center;
  font-size: 1vw;
  color: gray;
}

.next {
  margin-left: 1vw;
  border-bottom: 1px solid black;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 960px) {
  .pageButton {
    flex: 0;
  }
  .button {
    display: none;
  }
  .switchPage {
    justify-content: center;
    width: 100%;
    margin: 0;
  }
}
