.root {
  display: flex;
  margin-top: 0.5vw;
  align-items: baseline;
}

.pageButton {
  width: 66%;
  text-align: end;
  margin-left: 5vw;
}

.button {
  justify-content: center;
  cursor: pointer;
  font-size: 10px;
  font-weight: 600;
  height: 35px;
  width: 35px;
  margin: 0.3vw;
  padding: 0;
  border: 0px;
  border-radius: 100%;
  transition: 0.5s;
  background-color: white;
}

.button:hover {
  background-color: #d90000;
  color: white;
}

.switchPage {
  display: flex;
  justify-content: flex-end;
  width: 33%;
  margin-right: 11vw;
  cursor: pointer;
}

.previous {
  margin-right: 1vw;
  border-bottom: 1px solid black;
  transition: 1s;
}

.next {
  margin-left: 1vw;
  border-bottom: 1px solid black;
}

.span {
  align-self: center;
  font-size: 2vw;
  color: gray;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 960px) {
  .pageButton {
    flex: 0;
  }
  .button {
    display: none;
  }
  .switchPage {
    justify-content: center;
    width: 100%;
    margin: 0;
  }
}
