.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.emptyHeading {
  margin-right: 160px;
}

.pageButton {
  display: flex;
}

.button {
  font-size: 13px;
  font-weight: 600;
  height: 30px;
  width: 30px;
  margin: 0 5px;
  padding: 0;
  border: 0px;
  border-radius: 100%;
  cursor: pointer;
  background-color: white;
  transition: 0.5s;
}

.button:hover {
  background-color: #d90000;
  color: white;
}

.switchPage {
  display: flex;
  font-size: 12px;
  cursor: pointer;
}

.previous {
  padding: 5px 20px;
  border-bottom: 1px solid black;
  border: none;
  font-weight: 600;
  cursor: pointer;
  background-color: #f3f3f3;
}
.previous:hover {
  background-color: #f3f3f3;
  color: #d90000;
}

.span {
  font-size: 23px;
  color: gray;
}

.next {
  padding: 5px 0px 5px 20px;
  border-bottom: 1px solid black;
  border: none;
  font-weight: 600;
  background-color: #f3f3f3;
  cursor: pointer;
}
.next:hover {
  background-color: #f3f3f3;
  color: #d90000;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 960px) {
  .button {
    display: none;
  }
  .switchPage {
    justify-content: center;
    width: 100%;
    margin: 0;
  }
}
