.root {
  max-width: 1280px;
  margin: 0 auto;
}

.pagination {
  margin-bottom: 40px;
}

.list {
  display: grid;
  grid-gap: 20px;
}

@media (max-width: 1320px) {
  .root {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (min-width: 960px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}
