.root {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(var(--spacing-unit) * 2);
  padding-right: calc(var(--spacing-unit) * 2);
  box-sizing: border-box;
}

@media (min-width: 600px) {
  .root {
    padding-left: calc(var(--spacing-unit) * 4);
    padding-right: calc(var(--spacing-unit) * 4);
  }
}

.disableGutters {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 0px) {
  .maxWidthXs {
    max-width: 444px;
  }
}

@media (min-width: 600px) {
  .maxWidthSm {
    max-width: var(--breakpoints-sm);
  }
}

@media (min-width: 960px) {
  .maxWidthMd {
    max-width: var(--breakpoints-md);
  }
}

@media (min-width: 1280px) {
  .maxWidthLg {
    max-width: var(--breakpoints-lg);
  }
}

@media (min-width: 1920px) {
  .maxWidthXl {
    max-width: var(--breakpoints-xl);
  }
}
