.burgerLogo {
  display: flex;
  width: 28px;
  height: 30px;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
}

.burgerLogo:hover {
  background-color: #dddddd;
}

@media screen and (max-width: 960px) {
  .burgerLogo {
    height: 33px;
    width: 24px;
    padding: 0;
  }
}
