.button {
  padding-left: 5px;
  border: none;
}

.burgerLogo {
  display: flex;
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
}

.burgerLogo:hover {
  background-color: #dddddd;
}
