.burgerLogo {
  display: flex;
  width: 28px;
  height: 30px;
  cursor: pointer;
  padding: 5px;
}

@media screen and (max-width: 960px) {
  .burgerLogo {
    height: 33px;
    width: 24px;
    padding: 0;
  }
}
