.root {
  position: relative;
  height: 65vh;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.heading {
  text-align: center;
  font-size: 68px;
  color: white;
  margin-bottom: 2vw;
  font-family: italic (serif);
  font-weight: 600;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  max-height: 100%;
  height: 100%;
  width: 100%;
  z-index: -1;
  filter: grayscale(80%);
}

@media screen and (max-width: 960px) {
  .heading {
    font-size: 46px;
  }
  .root {
    height: 40vh;
  }
}
