.root {
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 7vw;
  margin-left: 7vw;
}

@media screen and (max-width: 960px) {
  .root {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
}
