.root {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 960px) {
  .root {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
}
