.root {
  display: flex;
  justify-content: center;
  margin-top: 0.5vw;
}

.button {
  justify-content: center;
  cursor: pointer;
  font-size: 0.6vw;
  font-weight: 600;
  height: 1.3vw;
  width: 1.3vw;
  margin: 0.3vw;
  border: 0px;
  border-radius: 100%;
  transition: 0.5s;
  background-color: white;
}

.button:hover {
  background-color: #d90000;
  color: white;
}

.switchPage {
  display: flex;
  justify-content: space-between;
}
