.root {
  display: flex;
}

.button {
  font-size: 15px;
  font-weight: 650;
  padding: 10px 18px;
  margin: 10px;
  border: 0;
  border-radius: 25px;
  transition: 0.5s;
  letter-spacing: 0.08em;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #d90000;
  color: #fff;
}

@media screen and (max-width: 610px) {
  .root {
    display: none;
  }
}
