.root {
  display: flex;
}

.button {
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 15px;
  margin: 10px;
  border: 0;
  border-radius: 25px;
  transition: 0.5s;
  outline: none;
  background-color: #fff;
}

.button:hover {
  background-color: #d90000;
  color: #fff;
}

@media screen and (max-width: 610px) {
  .root {
    display: none;
  }
}
