.root {
  display: flex;
  margin-top: 0.5vw;
}

.pageButton {
  flex: 2;
  text-align: end;
  margin-left: 4vw;
}

.button {
  justify-content: center;
  cursor: pointer;
  font-size: 0.7vw;
  font-weight: 600;
  height: 1.5vw;
  width: 1.5vw;
  margin: 0.3vw;
  border: 0px;
  border-radius: 100%;
  transition: 0.5s;
  background-color: white;
}

.button:hover {
  background-color: #d90000;
  color: white;
}

.switchPage {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  margin-right: 11vw;
  cursor: pointer;
}

.previous {
  margin-right: 1vw;
  border-bottom: 1px solid black;
  transition: 1s;
}

.next {
  margin-left: 1vw;
  border-bottom: 1px solid black;
}

.span {
  align-self: center;
  font-size: 2vw;
  color: gray;
}

a {
  text-decoration: none;
  color: black;
}
