.root {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.container {
  display: flex;
  align-items: baseline;
  z-index: 2;
}

.image {
  align-self: center;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

.heading {
  font-size: 1.2vw;
  font-weight: 900;
}

.line {
  border: 1px solid black;
  height: 1vw;
  margin: 1vw 1vw;
}
