.Gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 5vw;
  margin-right: 5vw;
}

.Gallery-Card {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin: 2vw;
  background-color: white;
}

.Gallery-Card p {
  margin-top: 0;
  font-size: 1vw;
}

.Gallery-Card-Header {
  font-size: 1.5vw;
}
