.root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 25vw;
  margin: 20px;
  height: 530px;
  max-height: 530px;
  background-color: white;
}

.img {
  object-fit: cover;
  transition: 0.5s;
}

.articleInfo {
  display: flex;
  align-items: baseline;
}

.category {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.readTime {
  margin-left: 0.5vw;
}

.heading {
  padding: 0.2vw 0.5vw;
  margin-top: 0px;
  margin-bottom: 0px;
}

.heading a:hover {
  color: #d90000;
}

.img:hover {
  transform: scale(1.1);
}

.paragraph {
  padding: 0.2vw 0.5vw;
  margin-top: 0;
  font-size: 17px;
}

@media screen and (max-width: 960px) {
  .root {
    margin-bottom: 20px;
    width: 95%;
    padding-bottom: 20px;
  }
  .image {
    height: 100%;
    width: 100%;
  }
  .heading {
    margin-top: 0;
  }
  .paragraph {
    padding-top: 15px;
    padding-bottom: 100px;
  }
}
