.root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 400px;
  margin: 10px;

  height: 550px;
  background-color: white;
}

.img {
  transition: 0.5s;
  object-fit: cover;
  overflow: hidden;
  height: 50%;
}

.img:hover {
  transform: scale(1.1);
}

.articleInfo {
  display: flex;
  align-items: baseline;
  color: gray;
}

.category {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
}

.readTime {
  margin-left: 0.5vw;
  color: gray;
}

.heading {
  padding: 0.2vw 0.5vw;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: cursive;
  font-weight: 400;
}

.heading a:hover {
  color: #d90000;
}

.paragraph {
  padding: 0.2vw 0.5vw;
  margin-top: 0;
  font-size: 17px;
}

@media screen and (max-width: 1460px) {
  .root {
    width: 25vw;
  }
}

@media screen and (max-width: 960px) {
  .root {
    margin-bottom: 20px;
    width: 98%;
    padding-bottom: 20px;
  }
  .image {
    height: 100%;
    width: 100%;
  }
  .heading {
    margin-top: 0;
  }
  .paragraph {
    padding-top: 15px;
    padding-bottom: 100px;
  }
}
