.root {
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
}

.imgContainer {
  display: block;
  overflow: hidden;
}

.img {
  display: block;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.img:hover {
  transform: scale(1.1);
}

.article {
  padding: 18px;
}

.articleInfo {
  display: flex;
  align-items: baseline;
  color: gray;
}

.category {
  font-size: 18px;
  padding-right: 7px;
  font-weight: 300;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
}

.readTime {
  margin-left: 7px;
  color: gray;
}

.heading {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 1.625rem;
  font-weight: 200;
  font-family: 'Allan', cursive;
}

.heading a:hover {
  color: #d90000;
}

.paragraph {
  margin-top: 0;
  font-size: 17px;
}

@media screen and (max-width: 960px) {
  .root {
    width: 98%;
    height: 400px;
    margin-bottom: 20px;
  }

  .image {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }

  .heading {
    margin-top: 0;
  }
}
