.root {
  display: flex;
  justify-content: space-evenly;
  height: 12vw;
  margin-top: 5vw;
  padding-top: 1vw;
  background-color: #e8e7e6;
  flex: 3;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
  max-width: 40vw;
}

.menu {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  padding-bottom: 0.5vw;
  max-width: 20vw;
}

.menu:hover {
  color: #d90000;
}

.shop {
  flex-direction: row;
}

.shop:hover {
  color: #d90000;
}

.test {
  display: flex;
  align-self: flex-end;
  justify-content: center;
}

.socialMedia {
  display: flex;
  align-self: flex-start;
}

.logo {
  width: 2vw;
  height: 2vw;
}
