.root {
  display: flex;
  justify-content: row;
  margin-top: 1vw;
}

.logo {
  width: 1vw;
  margin-right: 1vw;
}

.span {
  height: 1vw;
}

.search {
  align-items: center;
  text-decoration: none;
}
