.root {
  display: flex;
  justify-content: flex-end;

  font-size: 20px;
}

.logo {
  width: 20px;
  margin-right: 20px;
}

.span {
}

.search {
  align-items: center;
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  .logo {
    width: 20px;
    height: 20px;
    align-items: baseline;
    justify-content: flex-end;
  }
  .span {
    display: none;
  }
}
