.root {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  overflow: hidden;
}

.search {
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  padding: 12px;
}

.span {
  margin-left: 9px;
}

.logo {
  width: 15px;
  cursor: pointer;
}

.searchIsOpen {
  height: 100%;
}

@media screen and (max-width: 960px) {
  .logo {
    align-items: baseline;
    justify-content: flex-end;
    width: 20px;
    height: 20px;
  }

  .span {
    display: none;
  }
}
