.root {
  position: fixed;
  height: 0%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #f3f3f3;
  overflow-y: hidden;
  z-index: 1;
  transition: 0.5s;
}

.menuIsOpen {
  height: 100%;
}

.content {
  position: relative;
  text-align: center;
  top: 25%;
  width: 100%;
  margin-top: 30px;
}

.burgerMenu {
  display: block;
  padding: 8px;
  font-size: 36px;
  text-decoration: none;
  color: #818181;
  transition: 0.3s;
}

.burgerMenu:hover {
  color: red;
}

.close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: white;
}

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }

  .burgerMenu {
    font-size: 20px;
  }

  .closebtn {
    top: 15px;
    right: 35px;
    font-size: 40px;
  }
}
