.root {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.container {
  display: flex;
  align-items: flex-end;
  height: 60px;
  z-index: 2;
}

.image {
  align-self: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.heading {
  font-size: 1.2vw;
  font-weight: 900;
}

.line {
  height: 20px;
  margin: 1vw 1vw;
}

@media screen and (max-width: 960px) {
  .container {
    height: 60px;
    align-items: flex-end;
    justify-content: space-between;
  }

  .heading {
    color: white;
  }

  .line {
    display: none;
  }
}
