.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}

.image {
  align-self: center;
}

.logo {
  height: 80px;
}

.heading {
  display: flex;
  align-items: center;
  font-size: 25px;
  margin-left: 100px;
  font-weight: 600;
  font-family: 'Patua One', cursive;
  letter-spacing: 0.1em;
}

.container {
  display: flex;
  align-items: center;
  height: 60px;
  z-index: 2;
}

.line {
  justify-content: flex-end;
  align-self: center;
  height: 25px;
  margin-left: 14px;
  margin-right: 14px;
  border: 1px solid black;
}

@media screen and (max-width: 960px) {
  .root {
    justify-content: space-evenly;
  }

  .container {
    align-items: flex-end;
    align-items: center;
  }

  .heading {
    display: none;
  }

  .line {
    display: none;
  }
}
