.Banner {
  position: relative;
  height: 70vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.Banner Button {
  position: center;
  cursor: pointer;
  font-size: 1vw;
  padding: 2vw;
  border-radius: 25px;
  transition: 0.5s;
}

.Banner Button:hover {
  background-color: #d90000;
}

.Banner-Background {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  max-height: 100%;
  height: 100%;
  width: 100%;
  z-index: -1;
  filter: grayscale(80%);
}
